<form [formGroup]="createForm">
  <div style="text-align: center">
    <app-input [type]="'text'" [placeholder]="'Enter title'" [name]="'Title'"
               formControlName="title">
    </app-input>
    <br>
    <app-input [type]="'text'" [placeholder]="'Enter url of the photo'" [name]="'Url'"
               formControlName="url">
    </app-input>
    <br>
    <app-input [type]="'text'" [placeholder]="'Enter Thumbnail Url of the photo'"
               [name]="'Thumbnail Url'" formControlName="thumbnailUrl">
    </app-input>
    <br>
    <button mat-button color="primary" [disabled]="!createForm.valid" (click)="create()">Submit</button>

  </div>
</form>
